/* src/App.css */
.card {
  transition: all 0.3s ease;
  border: 1px solid #000000;
}

.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 1) !important;
  border: 5px solid #ff0000;
}

.badge {
  font-weight: 500;
  padding: 0.4em 0.8em;
}
